.container1{
    margin: auto;
    background-color: #012840;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    border-radius: 50px;
    padding-bottom: 50px;
}
.tavle {
    border: 1px;
    
}